/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import 'tailwindcss';

:root {
  --color-brand-primary: #ffffff;
  --color-backgroud-primary: #000000;
  --color-brand-secondary: #000000;
  --color-backgroud-secondary: #ffffff;
  --font-display: 'Outfit', sans-serif;
}

:root.light-mode {
  --color-brand-primary: var(--color-brand-secondary);
  --color-backgroud-primary: var(--color-backgroud-secondary);
}

html {
  scroll-behavior: smooth;
}

html,
body {
  background-color: var(--color-backgroud-primary);
  color: var(--color-brand-primary);
  font-family: var(--font-display);
  /* transition: background-color 0.3s ease; */
}

.scroll-reveal {
  opacity: 0;
  transform: translateY(30px);
  transition:
    opacity 0.8s ease-out,
    transform 0.8s ease-out;
}

.scroll-reveal.visible {
  opacity: 1;
  transform: translateY(0);
}
