/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import 'tailwindcss';

:root {
  --color-brand-primary: #ffffff;
  --color-background-primary: #151312;
  --color-brand-secondary: #000000;
  --color-background-secondary: #ffffff;
  --color-brand-auxiliar: #83aa28;
  --color-brand-auxiliar-original: #5f7a20;
  --font-display: 'Outfit', sans-serif;
  --color-form: #777777;
  --color-form-2: #3a3a3a;
}

:root.light-mode {
  --color-brand-primary: var(--color-brand-secondary);
  --color-background-primary: var(--color-background-secondary);
  --color-brand-auxiliar: #83aa28;
  --color-form: var(--color-form-2);
}

html {
  scroll-behavior: smooth;
}

html,
body {
  background-color: var(--color-background-primary);
  color: var(--color-brand-primary);
  font-family: var(--font-display);
  /* transition: background-color 0.3s ease; */
}

.scroll-reveal {
  opacity: 0;
  transform: translateY(30px);
  transition:
    opacity 0.8s ease-out,
    transform 0.8s ease-out;
}

.scroll-reveal.visible {
  opacity: 1;
  transform: translateY(0);
}
